<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>
    <nav class="site-nav">
      {% for item in site.data.navigation %}
      <a class="page-link" href="{{ item.url | relative_url }}">{{ item.title }}</a>
      {% endfor %}
    </nav>
  </div>
</header>

<script>
document.addEventListener('DOMContentLoaded', (event) => {
  const siteTitle = document.querySelector('.site-title');
  if (siteTitle) {
    siteTitle.classList.add('blink');
  }
});
</script>